torch>=1.8
pyworld
pysptk
matplotlib
librosa==0.8.1
tqdm
pandas
numba
numpy
h5py
requests
scipy
sympy
PyYAML
praat-parselmouth
tensorboardX
pillow
pyloudnorm
pytorch_lightning
setuptools
miditoolkit
sklearn
uuid
g2p_en
resemblyzer
webrtcvad
learn2learn
tensorboard
scikit-learn
scikit-image
pypinyin
textgrid
pydub
horology
cython